<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="find()">
            
            <div class="col col-md-6 fullHeight">
                <div class="inner-container">
                    <h1>Studies</h1>
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Focus</th>
                            <th>Test</th>
                        </tr>
                        
                        <tr data-ng-repeat="study in studies" ng-click="showDetails(study)" class="rank{{study.rank}}">
                            <td>{{ study.name }}</td>
                            <td>{{ study.genre }}</td>
                            <td>{{ study.focus }}</td>
                            <td><i ng-show="study.testChecklist !== undefined " class="fa fa-check"></i><i ng-show="study.testChecklist == undefined " class="fa fa-close"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col col-md-6 fullHeight">
                <div class="inner-container study-selected">
                    <div class="study-header">
                        <h3>{{pickedStudy.name}}</h3>
                        <p>Componist: {{pickedStudy.author}}</br>
                        Genre: {{pickedStudy.genre}}</p>
                    </div>
                    <p>{{pickedStudy.description}}</p>
                    <a class="button" href="#!/study/{{pickedStudy._id}}">Spelen</a>
                </div>
                <div class="inner-container study-unselected">
                    <h4>Selecteer een studie voor meer details.</h4>
                </div>
            </div>
        </div>
    </div>
</div>