<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="findOne()">
            
            <div class="col col-md-12 fullHeight">
                <div class="inner-container study-container">
                    <h2>{{ study.name }} - {{ study.author }}</h2>
                    <div class="score">
                        <canvas id="score"></canvas>
                    </div>
                    <div class="tools">
                        <div class="fouteNoten">
                            <p>Foute noten: <span id="fouteNoten">0</span></p>
                        </div>
                        <div class="instrument">
                            <ul class="nav nav-pills">
                                <li data-ng-repeat="instrument in study.instruments" ng-class="instrument.default ? 'active' : ''" ng-click="setActive($event)">{{ instrument.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="hidden" id="stopRecording" ng-click="stopRecording()"></button>
            <button class="hidden" id="startRecording" ng-click="startRecording()"></button>
        </div>
    </div>
</div>