<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="find()">
            
            <div class="col col-md-6 fullHeight">
                <div class="inner-container">
                    <h1>Opnames</h1>
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Auteur</th>
                            <th>Datum</th>
                            <th>~</th>
                        </tr>
                        
                        <tr data-ng-repeat="recording in recordings" ng-click="showDetails(recording)"><!--ng-click="goToRecording(recording._id)"-->
                            <td>{{ recording.title }}</td>
                            <td>{{ recording.author }}</td>
                            <td>{{ recording.created_at | date:"dd/MM/yy"}}</td>
                            <td>{{ recording.feeback }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col col-md-6 fullHeight">
                <div class="inner-container study-selected">
                    <div class="study-header">
                        <h3>{{pickedRecording.title}}</h3>
                        <div id="audio">
                        </div>
                    </div>
                    <div class='container-body recording'>
                        <div class='description'>
                            <p><strong>Componist:</strong> {{pickedRecording.author}}</br>
                            <strong>Opgenomen op:</strong> {{ pickedRecording.created_at | date:"dd/MM/yy ' om ' HH:mm"}}</br>
                            <strong>Beschrijving:</strong> {{pickedRecording.description}}
                            </p>
                            </p>
                            
                            <button class="placeInFeedback" ng-click="placeInFeedback()" ng-hide="pickedRecording.inFeedback">In feedbackruimte plaatsten</button>
                        </div>
                        <div class="comments" ng-hide="pickedRecording.inFeedback == false">
                            <h2>Feedback</h2>
                            <div class="comments-scroll">
                                <div class="comment" data-ng-repeat="feedback in pickedRecording.feedbacks">
                                    <h3 ng-class="feedback.approved ? 'approved' : ''">{{ feedback.username }} <span class="right">{{ feedback.created_at | date:"dd/MM/yy"}}</span></h3>
                                    <p>{{ feedback.body }}</p>
                                    <div class="like-bar">
                                        <p>{{ feedback.likes.length }} <i class="fa fa-thumbs-up"></i></p>
                                    </div>
                                </div>
                                <p ng-hide="pickedRecording.numberFeedbacks >= 1">Nog geen feedbacks... </p>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="inner-container study-unselected">
                    <h4>Selecteer een opname voor meer details.</h4>
                </div>
            </div>
        </div>
    </div>
</div>