<div class="ngdialog-message">
    <h3>Proficiat {{user.profile.given_name}}!</h3>
    <p>Je hebt de {{ learnedNote }} succesvol aangeleerd.</p>
    <p>Je verdiende hier {{ earnedPoints     }} punten mee</p>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Ok</button>
</div>