<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Recorder</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/js/ng-dialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="assets/js/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="assets/js/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-resource/angular-resource.min.js"></script>
    
    <script src="assets/js/jquery/dist/jquery.js"></script>
    <script src="assets/js/vexflow/releases/vexflow-min.js"></script>
    <script src="assets/js/vextab-div.js"></script>
    <script src="assets/js/ng-dialog/js/ngDialog.min.js"></script>
    <script src="assets/js/recordrtc/RecordRTC.js"></script>
    <script src="assets/js/angular-mocks/angular-mocks.js"></script>
    
    <!--Video chat-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <!--script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script-->
    <script src="assets/js/pubnub/pubnub-3.7.14.min.js"></script>
    <!--script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script-->
    <script src="assets/js/pubnub/webrtc.js"></script>
    <!--script src="https://cdn.pubnub.com/webrtc/rtc-controller.js"></script-->
    <script src="assets/js/pubnub/rtc-controller.js"></script>
    
    <!--Realtime with pubnub -->
    <!--script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.1.1.js"></script-->
    <script src="assets/js/pubnub/pubnub-angular-3.1.1.js"></script>
    
    <script src="app.js"></script>

</head>

<body>
    
    <% if ( user ) { %>
        <section ng-view class="main-section"></section>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <% } %>
    
    
    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

</body>
</html>